@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --ff-poppins: "Poppins", sans-serif;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  --base-size: 16px;

  --primary-clr: hsl(249, 96%, 9%);
  --secondary-clr: hsl(190, 77%, 88%);
  --accent-clr: hsl(43, 100%, 51%);
  --ntr-clr: hsl(0, 1%, 85%);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--ff-poppins);
  line-height: 160%;
  background-color: var(--primary-clr);
  color: var(--secondary-clr);
}

img {
  width: 100%;
  display: block;
}

.header-content-controller {
  margin-top: 1.5rem;
}

.btn {
  cursor: pointer;
  font-family: inherit;
  font-weight: 600;
  font-size: 1.25rem;
  text-transform: uppercase;
  border-radius: 1.8rem;
  border: none;
  letter-spacing: 0.125rem;
  padding: 0.8rem 2.5rem;
  background-color: var(--accent-clr);
  color: var(--primary-clr);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transition: transform 200ms ease-in-out;
}

.btn:hover {
  transform: translateY(-2px);
  box-shadow: none;
}

.text-center {
  text-align: center;
}

.text-ntr-clr {
  color: var(--ntr-clr);
}

.grid-parent {
  display: grid;
  gap: 1.25rem;
  grid-template-columns: 1fr 1fr;
}

.card-container {
  padding: 2rem 0;
}

.card {
  box-shadow: 0 0 0 2px var(--secondary-clr);
  border-radius: 0.25rem;
  padding: 1rem;
}

.background-color-acct {
  background-color: var(--accent-clr);
  color: var(--primary-clr);
}

footer {
  padding: 1.25rem 0;
  font-size: 0.8rem;
}

@media screen and (min-width: 1440px) {
  .wrapper {
    width: 1120px;
    margin: 0 auto;
  }

  .header-content {
    padding: 10rem 0;
    display: grid;
    gap: 1.25rem;
    grid-template-columns: 1fr 1fr;
  }

  .header-content-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }

  .heading-1 {
    padding: 0.5rem 0;
    font-size: 3rem;
    line-height: 120%;
    letter-spacing: -0.125rem;
    font-weight: var(--fw-600);
    color: var(--accent-clr);
  }

  .heading-2 {
    padding: 0.5rem 0;
    font-size: 2.25rem;
    line-height: 120%;
    letter-spacing: -0.125rem;
    font-weight: var(--fw-600);
    color: var(--accent-clr);
  }

  .heading-3 {
    padding: 0.5rem 0 3rem 0;
    font-size: 1.8rem;
    line-height: 120%;
    letter-spacing: -0.125rem;
    font-weight: var(--fw-600);
    color: var(--accent-clr);
  }

  .subheading-1 {
    font-size: 1.25rem;
    font-weight: var(--fw-500);
    color: var(--ntr-clr);
  }

  .cards-section {
    padding: 2rem 0;
  }

  .cta-section {
    padding: 10rem 0;
    display: flex;
    gap: 3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
